<footer class="bottom_foot">
    <div class="about_foot">
        <h4></h4>
        <p class="about_content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora nesciunt consectetur dolorem iusto maxime
            vero labore, aspernatur sint mollitia corrupti deleniti sit deserunt adipisci suscipit temporibus rem
            pariatur eaque at.Sequi nulla animi fugit corporis consectetur asperiores minima recusandae esse obcaecati
            sint exercitationem
    </div>
    <div class="media_foot">

    </div>
    <div class="latest_foot">

    </div>

</footer>