<nav class="navigation_bar">
    <div class="main_nav">
        <span class="logo">Blog</span>
        <div class="nav-links">
            <ul>
                <li><a href="#">Fb</a></li>
                <li><a href="#">Ig</a></li>
                <li><a href="#">Tw</a></li>
            </ul>
        </div>
    </div>
    <div class="sub_nav">
        <ul>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Movies</a></li>
        </ul>
    </div>
</nav>