<%- include('partials/head') %> 
<%- include('partials/navigation') %>
<main class="main_body">
    <div class="main_content">
        <div class="upper_content">

        </div>
        <div class="lower_content">

        </div>
        <button type="submit">Show more</button>
    </div>
</main>

<%- include('partials/footer') %> 
</body>
</html>